
<div class="card">
    <div class="card-header center">
        <h2 class="card-title article-title"><strong><%= obj.title %></strong></h2>
    </div>
    <div class="card-body">
        <div class="row" align="center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="listing">
                    <li><%= link_to gravatar_for(obj.user), user_path(obj.user) %></li>
                    <li class="article-title">
                        <%= link_to obj.user.username, user_path(obj.user) %>
                    </li>
                    <li><small><%= pluralize(obj.user.articles.count, "article") if obj.user.articles %></small></li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>                                  
        <%= simple_format(obj.description) %>
        <div class="article-meta-details">
            <small>Created by: <%= obj.user.username if obj.user %>,
                    <%= time_ago_in_words(obj.created_at) %> ago,
                    last updated <%= time_ago_in_words(obj.updated_at) %> ago
            </small>
        </div>
        <% if logged_in? && current_user==obj.user%>
            <div class="article-actions">
                <%= if isList == "1" 
                        link_to "Show", article_path(obj), class:"btn btn-xs btn-success", style:"font-size: 10px;"
                    else
                        link_to "Back to articles listing", articles_path, class:"btn btn-xs btn-success", style:"font-size: 10px;"
                    end
                %>
                <%= link_to "Edit this article", edit_article_path(obj), class:"btn btn-xs btn-primary", style:"font-size: 10px;" %>
                <%= link_to "Delete this article", 
                    article_path(obj), method: :delete, 
                    data: { confim:"Are you sure you want to delete the article?"}, 
                    class:"btn btn-xs btn-danger", 
                    style:"font-size: 10px;" 
                %>
            </div>
        <% end %>
    </div>
</div>