<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 center">
        <%= gravatar_for @user, size:150 %>
    </div>
</div>
<h4 align="center"><%= @user.username%>'s articles</h4>

<% if logged_in? && current_user.admin? %>
    <div align="center" style="margin-bottom: 20px;">
        <%= link_to "Delete this user", user_path(@user), method: :delete, data: {confirm:"Are you sure you want to delete the user and all its articles?"}, class:"btn btn-xs btn-danger", style:"font-size: 10px;" %>
    </div>
<% end %>

<div align="center"><%= will_paginate @user_articles, list_classes: %w(pagination justify-content-center) %></div>

<% @user_articles.each do |article|%>
    <%= render 'articles/show', obj:article, isList:"1" %>
<% end %>

<div align="center"><%= will_paginate @user_articles, list_classes: %w(pagination justify-content-center) %></div>

